ul{
    padding: 0%;
    margin: 0%;
}

li{
    padding-left: 1rem;
    padding-right: 1rem;
}

.header{
    background-color: #3936DB70;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.boton{
    background-color: rgb(194, 196, 233);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin: 10px;

}

.footer{
    background-color: #3936DB70;
    padding: 30px;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main{
    overflow-y: scroll;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
}

.titulo{
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
}


.input{
    height: 35px;
    border-radius: 25px;
    padding: 0 10px 0 10px;
    margin: 10px;
}

.botoninicio{
    background-color: #3936DB70;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin: 10px;
}
